* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff7a00, #ffb347);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

/*card principal*/
.container {
  width: 90%;
  max-width: 500px;
  margin: auto;
  background: rgb(240, 240, 240);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25x rgba(0, 0, 0, 0.8);

  backdrop-filter: blur(5px);
}

img {
  width: 250px;
  max-width: 60%;
  height: auto;

  margin-bottom: 10px;
}

h1 {
  margin: 15px 0;
}

p {
  margin: 20px 0;
}

button {
  background-color: #ff7a00;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #e40000;
  padding: 12px 30px;
}

#receita {
  margin-top: 25px;
  padding: 20px;
  background: f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0, 0.1);
  text-align: center;
}

#receita h2 {
  text-align: center;
  margin-bottom: 10px;
}

#receita ul {
  margin: 10px 0 20px 20px;
}

#receita h3 {
  margin-top: 15px;
}

#receita img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 15px auto;
  border-radius: 8px;
}

html {
  scrollbar-gutter: stable;
}

/* responsividade */

/* tablets */
@media (max-width: 800px) {
  .container {
    padding: 25px;
  }
}

/* celulares */
@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 15px;
  }

  button {
    width: 100%;
    font-size: 15px;
  }

  img {
    width: 120px;
  }
}
